<br>
<div class="container">
    <div class="col-md6" style="float: left;">
        <!--<app-add-user></app-add-user> -->
    </div>
    <div class="col-md6"  style="float: right;">
        <!--<app-add-product></app-add-product> -->
    </div>

    <div class="col-md-12"> 
       <app-user></app-user>
    </div>
    <br><br>
    <div class="col-md-12">
        <app-product></app-product>
    </div>
    <br><br>    
    <div class="col-md-12">
        <app-city></app-city>
    </div>
</div>
<br><br>
<router-outlet></router-outlet>
