<div class="container" style="border: 1px solid #aaa">
  <br />
  <div aling="center">
    <h1 style="text-align: center; text-decoration: underline">Şehirler</h1>
  </div>
  <table style="width: 100%; border: 1px solid #aaa">
    <tr>
      <th><u>Şehir</u></th>
      <th><u>İlçe</u></th>
    </tr>
    <tr>
        <td>
            <select name="" id="">
                <option value="">Şehir Seç</option>
                <option value="istanbul"><u>istanbul</u></option>
                <option value="ankara"><u>Ankara</u></option>
                <option value="izmir"><u>izmir</u></option>
                <option value="bursa"><u>Bursa</u></option>

            </select>
        </td>
    </tr>
  </table>

  <br />
</div>
